.container-home {
    display: flex;
    align-items: center;    
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    height: 700px;
    margin-top: 110px;
    border-bottom: 1px dotted #fff;

    .title-home {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    
    .intro {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;      
    }

    .section-article {   
        .article-intro {
            display: flex;
            justify-content: center;
            position: absolute;            
            width: 100%;

        }
    }

}